{% extends "layout/layout.html" %}
{% block styles %}
<style>
  .simpleLens-thumbnail-wrapper img{
    width: 45px;
    height: 55px;
  }
  .aa-related-item-slider img{
    width: 250px;
    height: 300px;
  }
</style>
{% endblock %}
{% block content %}
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>Fashion</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>         
           <li class="active">Women</li>
         </ol>
       </div>
      </div>
    </div>
   </section>
   <!-- / catg header banner section -->
     <!-- product category -->
  <section id="aa-product-category">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
          <div class="aa-product-catg-content">
            <div class="aa-product-catg-head">
              <div class="aa-product-catg-head-left">
                <form action="" class="aa-sort-form">
                  <label for="">Sort by</label>
                  <select name="">
                    <option value="1" selected="Default">Default</option>
                    <option value="2">Name</option>
                    <option value="3">Price</option>
                    <option value="4">Date</option>
                  </select>
                </form>
                <form action="" class="aa-show-form">
                  <label for="">Show</label>
                  <select name="">
                    <option value="1" selected="12">12</option>
                    <option value="2">24</option>
                    <option value="3">36</option>
                  </select>
                </form>
              </div>
              <div class="aa-product-catg-head-right">
                <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
              </div>
            </div>
            <div class="aa-product-catg-body">
              <ul class="aa-product-catg">
                {% for i in products %}
                    <li>
                        <figure>
                          <a class="aa-product-img" href="#">
                            <img class="lazy-load" data-src="
                            {% for image in i.product_images_set.all%}

                            {% if forloop.counter == 1 %}
                                 {{ image.image_url |safe }}"
                            {%elif forloop.counter == 2 %}
                                 data-srcset="{{ image.image_url |safe }},
                            {{else}}
                                  {{ image.image_url |safe }} ,
                            {% endif %}
                          {% endfor %}
                             "alt="polo shirt img"></a>
                          <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                          <figcaption>
                            <h4 class="aa-product-title"><a href="#">{{ i.product_name|safe }}</a></h4>
                            <span class="aa-product-price">{{ i.discounted_price|safe }}$</span><span class="aa-product-price"><del>${{ i.retail_price|safe }}</del></span>
                            <p class="aa-product-descrip">{{ i.description|safe }}</p>
                          </figcaption>
                        </figure>                         
                        <div class="aa-product-hvr-content">
                          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal-{{i.uniq_id}}"><span class="fa fa-search"></span></a>
                        </div>
                        <!-- product badge -->
                         <span class="aa-badge aa-sale" href="#">SALE!</span>
                      </li> 
                {% endfor %}
              </ul>
              <!-- quick view modal -->
              {% for i in products %}
              <div class="modal fade" id="quick-view-modal-{{i.uniq_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">                      
                    <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <div class="row">
                        <!-- Modal view slider -->
                        <div class="col-md-6 col-sm-6 col-xs-12">                              
                          <div class="aa-product-view-slider">                                
                            <div class="simpleLens-gallery-container" id="demo-1">
                                  <div class="simpleLens-container">
                                      <div class="simpleLens-big-image-container">
                                        {% for image in i.product_images_set.all%}
                                          {% if forloop.counter == 1 %}
                                              <a class="simpleLens-lens-image" data-lens-image="{{ image.image_url |safe }}">
                                                  <img class="lazy-load simpleLens-big-image" data-src="{{ image.image_url |safe }}">
                                              </a>
                                          {% endif%}
                                        {% endfor %}
                                      </div>
                                  </div>

                              <div class="simpleLens-thumbnails-container">
                                {% for image in i.product_images_set.all%}
                                    <a href="#" class="simpleLens-thumbnail-wrapper"
                                       data-lens-image="{{ image.image_url |safe }}"
                                       data-big-image="{{ image.image_url |safe }}">
                                        <img class="lazy-load" data-src="{{ image.image_url |safe }}">
                                    </a>
                                {% endfor %}
                                  </div>
                            </div>
                          </div>
                        </div>
                        <!-- Modal view content -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="aa-product-view-content">
                            <h3>{{i.product_name}}</h3>
                            <div class="aa-price-block">
                              {% widthratio i.discounted_price 1 -1 as result %}
                              <span class="aa-product-view-price">${{ i.retail_price|add:result }} </span>
                              <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                            </div>
                            <p>{{ i.description|safe }}</p>
                            <div class="aa-prod-view-bottom">
                              <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                              <a href="/product/preview/{{i.uniq_id}}" class="aa-add-to-cart-btn">View Details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>                        
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div>
              {% endfor %}
              <!-- / quick view modal -->   
            </div>
            {{ paginatios.get_elided_page_range |safe}}
            <div class="aa-product-catg-pagination">
              <nav>
                <ul class="pagination">

                    {% if paginatios.has_previous %}
                      <li> <a href="{{url_page}}1">&laquo; first</a></li>
                      <li><a href="{{url_page}}{{paginatios.previous_page_number}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    {% endif %}
                  {% if movies.number|add:'-4' > 1 %}
                    <li class="page-item"><a class="page-link" href="{{url_page}}{{ paginatios.number|add:'-5' }}">&hellip;</a></li>
                  {% endif %}
                  {% for i in paginatios.paginator.page_range %}
                      {% if paginatios.number == i %}
                          <li><a href="#" style="background-color: #ff6666;color: #fff;">{{paginatios.number }}</a></li>
                      {% elif i > paginatios.number|add:'-5' and i < paginatios.number|add:'5' %}
                          <li><a href="{{url_page}}{{ i }}">{{ i }}</a></li>
                      {% endif %}
                  {% endfor %}
                  {% if movies.paginator.num_pages > movies.number|add:'4' %}
                      <li><a href="{{url_page}}{{ paginatios.number|add:'5' }}">&hellip;</a></li>
                  {% endif %}

                    {% if paginatios.has_next %}
                      <li><a href="{{url_page}}{{ paginatios.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                      <li><a href="{{url_page}}{{ paginatios.paginator.num_pages }}"><span>last &raquo;</span></a></li>
                    {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
          <aside class="aa-sidebar">
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Category</h3>
              <ul class="aa-catg-nav">
                <li><a href="#">Men</a></li>
                <li><a href="">Women</a></li>
                <li><a href="">Kids</a></li>
                <li><a href="">Electornics</a></li>
                <li><a href="">Sports</a></li>
              </ul>
            </div>
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Tags</h3>
              <div class="tag-cloud">
                <a href="#">Fashion</a>
                <a href="#">Ecommerce</a>
                <a href="#">Shop</a>
                <a href="#">Hand Bag</a>
                <a href="#">Laptop</a>
                <a href="#">Head Phone</a>
                <a href="#">Pen Drive</a>
              </div>
            </div>
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Shop By Price</h3>              
              <!-- price range -->
              <div class="aa-sidebar-price-range">
               <form action="">
                  <div id="skipstep" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                  </div>
                  <span id="skip-value-lower" class="example-val">30.00</span>
                 <span id="skip-value-upper" class="example-val">100.00</span>
                 <button class="aa-filter-btn" type="submit">Filter</button>
               </form>
              </div>              

            </div>
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Shop By Color</h3>
              <div class="aa-color-tag">
                <a class="aa-color-green" href="#"></a>
                <a class="aa-color-yellow" href="#"></a>
                <a class="aa-color-pink" href="#"></a>
                <a class="aa-color-purple" href="#"></a>
                <a class="aa-color-blue" href="#"></a>
                <a class="aa-color-orange" href="#"></a>
                <a class="aa-color-gray" href="#"></a>
                <a class="aa-color-black" href="#"></a>
                <a class="aa-color-white" href="#"></a>
                <a class="aa-color-cyan" href="#"></a>
                <a class="aa-color-olive" href="#"></a>
                <a class="aa-color-orchid" href="#"></a>
              </div>                            
            </div>
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Recently Views</h3>
              <div class="aa-recently-views">
                <ul>
                  <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>                    
                  </li>
                  <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-1.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>                    
                  </li>
                   <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>                    
                  </li>                                      
                </ul>
              </div>                            
            </div>
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Top Rated Products</h3>
              <div class="aa-recently-views">
                <ul>
                  <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>                    
                  </li>
                  <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-1.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>                    
                  </li>
                   <li>
                    <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                    <div class="aa-cartbox-info">
                      <h4><a href="#">Product Name</a></h4>
                      <p>1 x $250</p>
                    </div>                    
                  </li>                                      
                </ul>
              </div>                            
            </div>
          </aside>
        </div>
       
      </div>
    </div>
  </section>
  <!-- / product category -->
    <!-- Subscribe section -->
    <section id="aa-subscribe">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="aa-subscribe-area">
                <h3>Subscribe our newsletter </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
                <form action="" class="aa-subscribe-form">
                  <input type="email" name="" id="" placeholder="Enter your Email">
                  <input type="submit" value="Subscribe">
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- / Subscribe section -->
{% endblock %}